/* ============================animation */
.ball {
    width:100px; height:100px;
    border-radius:50%;
    background-color:red;
    /* animation: 불러온 프레임명 */
    animation:move1 2s ease 3 alternate both;
}
.ball2 {
    width:100px;
    animation:move1 1s ease infinite alternate;
}
.ball2 img {width:100%; animation:rotate180 1s linear infinite reverse  both;}
/* ============================@keyframes */
/* 애니메이션 프레임이 많을 경우 keyframes.css 별도 관리하기도 한다. */
/* @keyframes 애니메이션이름 { 분기별 애니메이션 제작 } */
@keyframes move1 {
    0% {transform:translateY(0)}
    100%{transform:translateY(180px)}
}
@keyframes rotate180 {
    0% {transform:rotate(0)}
    100% {transform:rotate(360deg)}
}