.profile {}
.profile h1 {
    font-size: 2rem;
    font-weight:700;
    color:blueviolet;
    font-family:Merriweather,"맑은고딕",sans-serif;
    line-height:2.0em;
}
.profile .ambition_g {}
.profile .ambition_g .photo {}
.profile .ambition_g .photo img {}
.profile .ambition {
    font-size:2rem;
    line-height:1.5;
    font-family:"Gowun Dodum","궁서",sans-serif;
    letter-spacing: -0.01rem;

}
.profile .ambition em {
    font-weight:600;
    color:blueviolet;
}
.profile .ambition strong {
    font-weight:600;
    color:lightslategrey;
}
.profile .basic {}
.profile .basic li {
    line-height: 1.5;
    font-weight: 500;
    font-family:"Gowun Dodum","궁서",sans-serif;

}
.profile h2 {
    font-size:1.88rem;
    color:blueviolet;
    font-weight:400;
    line-height:1.5;
    font-family:"Do Hyeon","바탕",sans-serif;
}
.profile .experience {}
.profile .experience li {
    letter-spacing: -0.01rem;
    line-height: 1.5;
    font-family:"Gowun Dodum","궁서",sans-serif;

}
.profile .experience li .date {
    font-weight: 700;
    color:lightslategrey;
}
.profile .experience li .content {
    font-weight: 500;
}
