#main {width:100%; height:100vh;}
#main .swiper-wrapper {}
#main .swiper-wrapper .swiper-slide {}
#main .swiper-wrapper .page1 {}
#main .swiper-wrapper .page1 .skill_wrap {width:100%; display:flex; justify-content: space-between;}
#main .swiper-wrapper .page1 .skill_wrap .skill_left {padding-left:262px;}
#main .swiper-wrapper .page1 .skill_wrap .skill_left img {}
#main .swiper-wrapper .page1 .skill_wrap .skill_right {padding-right:212px;}
#main .swiper-wrapper .page1 .skill_wrap .skill_right img {}
#main .swiper-wrapper .page1 .title_wrap {padding-top:100px; margin-bottom:96px;}
#main .swiper-wrapper .page1 .title_wrap img {display:block;}
#main .swiper-wrapper .page1 .title_wrap img:first-child {position:relative; left:0; margin-bottom:21px;}
#main .swiper-wrapper .page1 .title_wrap img:nth-child(2) {margin:0 auto; position:relative; right:43px; margin-bottom:18px;}
#main .swiper-wrapper .page1 .title_wrap img:nth-child(3) {float:right;}
#main .swiper-wrapper .page1 > p {margin-bottom:30px; padding-left:191px}
#main .swiper-wrapper .page1 > p img {}
#main .swiper-wrapper .page1 .intro_info {}
#main .swiper-wrapper .page1 .intro_info dl {width:261px; position:relative; left:370px; margin-bottom:10px; display:flex;}
#main .swiper-wrapper .page1 .intro_info dl:last-child{margin-bottom:0;}
#main .swiper-wrapper .page1 .intro_info dl > * {letter-spacing: -0.02em;}
#main .swiper-wrapper .page1 .intro_info dl dt {width:70px; margin-right:15px;}
#main .swiper-wrapper .page1 .intro_info dl:nth-child(2) dt {text-align: center;}
#main .swiper-wrapper .page1 .intro_info dl dd {}
#main .swiper-wrapper .page1 .intro_info dl dd p:first-child {margin-bottom:10px; }
/* page1 end, page2 start */
#main .swiper-wrapper .page2 {}
#main .swiper-wrapper .page2 > * {width:1440px; margin:0 auto;}
#main .swiper-wrapper .page2 h1 {padding-top:90px; font-size:2rem; font-weight:600; letter-spacing:0.02em; color:#0046DD; margin-bottom:86px;}
#main .swiper-wrapper .page2 .info {display:flex; justify-content: space-between;}
#main .swiper-wrapper .page2 .info .info_left {}
#main .swiper-wrapper .page2 .info .info_left .photo_info {width:250px;}
#main .swiper-wrapper .page2 .info .info_left .photo_info p {text-align: center;font-weight:500; letter-spacing: 0.02em;}
#main .swiper-wrapper .page2 .info .info_left .photo_info p:first-child {margin-bottom:25px;}
#main .swiper-wrapper .page2 .info .info_left .photo_info p:last-child {margin-top:10px; color:#595959;}
#main .swiper-wrapper .page2 .info .info_left .motto {font-size:1.13rem; font-weight:500; letter-spacing: 0.02em; margin:74px 0; text-align:left; line-height:1.4;}
#main .swiper-wrapper .page2 .info .info_left .motto span {font-weight:700;}
#main .swiper-wrapper .page2 .info .info_left .personal_info {}
#main .swiper-wrapper .page2 .info .info_left .personal_info dl {display:flex; margin-bottom:15px;}
#main .swiper-wrapper .page2 .info .info_left .personal_info dl:last-child {margin-bottom:0;}
#main .swiper-wrapper .page2 .info .info_left .personal_info dl dt {
    width:95px; margin-right:20px;
    font-weight:500; font-size:1.13rem; letter-spacing: 0.02em;
}
#main .swiper-wrapper .page2 .info .info_left .personal_info dl dd {
    font-size:0.88rem; font-weight:500; letter-spacing: 0.02em;
}
#main .swiper-wrapper .page2 .info .info_left .personal_info dl dd a {color:#0046DD; font-weight:500;}
#main .swiper-wrapper .page2 .info .info_right {width:815px;}
#main .swiper-wrapper .page2 .info .info_right h2 {
    font-size:1.25rem; font-weight:600; letter-spacing: -0.02em;
    margin-bottom:30px; color:#0046DD;
}
#main .swiper-wrapper .page2 .info .info_right dl {margin-bottom:20px; display:flex;}
#main .swiper-wrapper .page2 .info .info_right dl dt {
    width:70px; margin-right:20px; text-align:right;
    font-weight:500; letter-spacing: -0.02em;
}
#main .swiper-wrapper .page2 .info .info_right dl dd {
    color:#595959; font-size:0.88rem; font-weight:500; letter-spacing: -0.02em;
}
#main .swiper-wrapper .page2 .info .info_right .right_top {display:flex; justify-content: space-between; margin-bottom:80px;}
#main .swiper-wrapper .page2 .info .info_right .license {margin-bottom:90px;}
#main .swiper-wrapper .page2 .talent_skill {}
#main .swiper-wrapper .page2 .talent_skill h2 {}
/* talent 공통 */
#main .swiper-wrapper .page2 .talent_skill .talent {margin-bottom:20px;}
#main .swiper-wrapper .page2 .talent_skill .talent h3 {font-weight:500; letter-spacing: -0.02em;}
#main .swiper-wrapper .page2 .talent_skill .talent .total_bar {width:708px; height:3px; background-color: #d9d9d9;}
#main .swiper-wrapper .page2 .talent_skill .talent .total_bar .bar {}
/* telent 개별 */
#main .swiper-wrapper .page2 .talent_skill .talent1 {}
#main .swiper-wrapper .page2 .talent_skill .talent1 h3 {}
#main .swiper-wrapper .page2 .talent_skill .talent1 .total_bar {}
#main .swiper-wrapper .page2 .talent_skill .talent2 {}
#main .swiper-wrapper .page2 .talent_skill .talent2 h3 {}
#main .swiper-wrapper .page2 .talent_skill .talent2 .total_bar {}
#main .swiper-wrapper .page2 .talent_skill .talent3 {}
#main .swiper-wrapper .page2 .talent_skill .talent3 h3 {}
#main .swiper-wrapper .page2 .talent_skill .talent3 .total_bar {}
#main .swiper-wrapper .page2 .talent_skill .talent4 {}
#main .swiper-wrapper .page2 .talent_skill .talent4 h3 {}
#main .swiper-wrapper .page2 .talent_skill .talent4 .total_bar {}
#main .swiper-wrapper .page2 .talent_skill .talent5 {margin-bottom:0;}
#main .swiper-wrapper .page2 .talent_skill .talent5 h3 {}
#main .swiper-wrapper .page2 .talent_skill .talent5 .total_bar {}