#login_wrap {
    width:743px; margin:0 auto; background-color: aqua;
}
#login_wrap #lang_select {float:right;}
#login_wrap #lang_select option {}
#login_wrap h1 {
    clear:both;
    width:135px; height:26px; margin:0 auto;
    background-color:lime;
    background-image:url(../images/m_sp.png);
    background-position:-316px -104px;
    /* 스프라이트이미지 사용 시 의미적으로 작성한 글자를 숨겨야 할 경우, 글자를 가진 태그의 부모 대상에 text-indent 들여쓰기+내어쓰기 쏙성을 사용하여 화면 바깥쪽으로 글자를 내보내 안보이게 설정한다. */
    text-indent:-9999px;
}
#login_wrap h1 a {height:100%; display:block;}
#login_wrap main {
    width:458px; margin:0 auto; background-color: yellow;
}
#login_wrap main form {}
/* 제목 탭 구성 */
#login_wrap main form .title {
    display:flex; width:100%;
}
#login_wrap main form .title h2 {
    background-color:#f8f9fa; /* 비활성화 제목배경 */
    width:calc(100% /3); position:relative;
    height:68px;
    border-top:1px solid #cdcdcd;
    border-right:1px solid #cdcdcd;
    border-bottom:1.9px solid #cdcdcd;
}
#login_wrap main form .title h2.active {
    border:1px solid #cdcdcd; border-radius:10px;
    border-bottom:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    background-color:#fff; /* 활성화 제목배경 */
}
#login_wrap main form .title h2.active {}
#login_wrap main form .title h2.active::before {
    content:''; display:block;
    width:18px; height:68px;
    background-color: aquamarine;
    background-image:url(../images/m_sp_login.png);
    background-position:-21.9px -176px;
    position:absolute; left:-2px; top:-0.7px;
}

#login_wrap main form .title h2.active::after {
    content:''; display:block;
    width:19px; height:68px;
    background-color: aquamarine;
    background-image:url(../images/m_sp_login.png);
    background-position:0 -176px;
    position:absolute; right:-2px; top:-0.7px;
}
#login_wrap main form .title h2:nth-child(1).active::before {display:none;}
#login_wrap main form .title h2:nth-child(1).active::after {right:-8px; z-index:800;}
#login_wrap main form .title h2:nth-child(2).active::before {left:-13px;}
#login_wrap main form .title h2:nth-child(2).active::after {right:-10px; z-index:900;}
#login_wrap main form .title h2:nth-child(3).active::before {left:-5px;}
#login_wrap main form .title h2:nth-child(3).active::after {display:none;}
#login_wrap main form .title h2 a {
    /* 부모의 높이가 px 정해져있고 정렬하는 자식 요소가 한줄일 경우 수직정렬 */
    line-height:68px;  display:block; text-align:center;
}
/* 제목 탭 구성 - QR코드 */
#login_wrap main form .title h2 a em {}
#login_wrap main form .title h2 a .message {
    background-color:#fff; border:1px solid #09aa5c;
    position:absolute; top: -15px; left:-40px; border-radius: 20px; z-index:999;
    width:max-content; padding: 2px 8px; line-height:1.2; box-shadow:0 1px 2px 0 rgba(120,120,120,0.5);
}
#login_wrap main form .title h2 a .message strong {
    font-size:0.63rem; color:#09aa5c;
}
#login_wrap main form .title h2 a .message .close {
    color:#09aa5c; font-size:0.70rem;
}
#login_wrap main form .login_container {}
#login_wrap main form .login_container .login_box {
    /* 공통내용탭 */
    padding:25px 30px; background-color:#fff;
    border:1px solid #cdcdcd; border-top:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
} 
/* 내용1. ID로그인 */
#login_wrap main form .login_container .id_login {}
#login_wrap main form .login_container .id_login ul {
}
#login_wrap main form .login_container .id_login ul li {
    border:1px solid #cdcdcd;
    padding:15px 20px 15px 40px;
    position:relative; 
}
#login_wrap main form .login_container .id_login ul li::before {    
    content:''; display:block;
    width:20px; height:20px; position:absolute; left:12px; top:13px;
    background-image:url(../images/m_sp_login.png);

}
#login_wrap main form .login_container .id_login ul li:nth-child(1)::before {
    background-position:-118px -256px; 
}
#login_wrap main form .login_container .id_login ul li:nth-child(2)::before {
    background-position:-162px -256px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(1) {
    border-bottom:0; border-top-left-radius:10px; border-top-right-radius:10px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(2) {
    border-bottom-left-radius:10px; border-bottom-right-radius:10px; box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
}
#login_wrap main form .login_container .id_login ul li input {width:100%;}
#login_wrap main form .login_container .id_login ul li #user_id {}
#login_wrap main form .login_container .id_login ul li #user_pw {}
#login_wrap main form .login_container .id_login .state_group {display:flex; justify-content: space-between; margin-top:8px;}
#login_wrap main form .login_container .id_login .state_group .login_state {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y {display:none;}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y:checked+label {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y:checked+label::before {
    width:24px; height:25px;
    background-image:url(../images/m_sp_login.png); background-position: -308px -210px;
}
#login_wrap main form .login_container .id_login .state_group .login_state label { display: flex; align-items:center; }
#login_wrap main form .login_container .id_login .state_group .login_state label::before {
    content:''; display:inline-block; width:24px; height:25px; background-image: url(../images/m_sp_login.png); background-position: -308px -109px; margin-right:5px;
}
/* ============================================IP 보안 ON/OFF */
#login_wrap main form .login_container .id_login .state_group .ip_state {display:flex; align-items:center;}
#login_wrap main form .login_container .id_login .state_group .ip_state a {margin-right:6px;}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on {}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label {
    background-color:#cdcdcd;
}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label .switch {
    left:3px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label .switch_state {left:auto; right:4px;}
#login_wrap main form .login_container .id_login .state_group .ip_state label {
    background-color:#09aa5c; width:45px; height:20px; border-radius:12px; display:inline-block;
    position:relative;
}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch {
    background-color:#fff; width:16px; height:16px; border-radius:50%; display:block;
    position:absolute; right:3px; top:2px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch_state {
    color:#fff; position:absolute; left:5px; top:4px; font-size:0.7rem; font-family:AppleSGothicNeoB,sans-serif;
}#login_wrap main form .login_container .id_login .error_message {}
/* =========================================로그인 버튼 */
#login_wrap main form .login_container .id_login .login_btn {}
#login_wrap main form .login_container .id_login .login_btn #login {
    background-color:#09aa5c; color:#fff; width:100%;
    padding:15px 0; border-radius:8px;
    font-family:AppleSGothicNeoB,sans-serif;
}
/* 내용2. 일회용 로그인 */
#login_wrap main form .login_container .one_time_login {padding:30px 40px;}
#login_wrap main form .login_container .one_time_login > p {
    margin-bottom:40px;
    text-align:center; line-height:1.3; letter-spacing:0.02em;
    font-size:0.95rem; position:relative;
}
#login_wrap main form .login_container .one_time_login > p::after {
    background-image:url(../images/m_sp_login.png); content:'';
    display:block; width:15px; height:15px; position:absolute; left:48%;
    background-position: -250px -66px;
}
#login_wrap main form .login_container .one_time_login p span {color:#09aa5c;}
#login_wrap main form .login_container .one_time_login p span em {}
#login_wrap main form .login_container .one_time_login p span em::after {
    content:''; display:inline;
    background-image:url(../images/m_sp_login.png); width:13px; height:14px;
    padding-left:25px; background-position:-106px -218px;
}
#login_wrap main form .login_container .one_time_login .login_number_group {}
#login_wrap main form .login_container .one_time_login .login_number_group #login_number {
    border:1px solid #cdcdcd; width:100%; padding:15px 20px; border-radius:10px;
    text-align:center;
}
#login_wrap main form .login_container .one_time_login .login_number_group #login_number::placeholder { color:#adadad; letter-spacing:-0.02em;}
#login_wrap main form .login_container .one_time_login .login_number_group #login_btn {
    color:#ffff; background-color:#09aa5c; width:100%; padding:15px 0; border-radius:10px;
}
/* 내용3. QR로그인 */
#login_wrap main form .login_container .qr_login {padding:20px 0 50px 0;}
#login_wrap main form .login_container .qr_login .qr_code {display:flex; justify-content: center; margin:10px 0 20px;}
#login_wrap main form .login_container .qr_login .qr_code p {}
#login_wrap main form .login_container .qr_login .qr_code p img {width:130px;}
#login_wrap main form .login_container .qr_login .qr_code .rest_time {padding-top:80px;}
#login_wrap main form .login_container .qr_login .qr_code .rest_time h2 {margin-bottom:5px;}
#login_wrap main form .login_container .qr_login .qr_code .rest_time .time {color:#09aa5c;font-weight:700;}
#login_wrap main form .login_container .qr_login > p {
    line-height:1.3; text-align:center; letter-spacing: 0.02em;
}
#login_wrap main form .login_container .qr_login > p:last-child {font-size:14px; line-height:1.4;} 
#login_wrap main form .login_container .qr_login >  p:last-child::after {
    content:''; display:block;
    background-image:url(../images/m_sp_login.png); width: 17px; height:15px;
    background-position:-249px -65px; position:absolute; left:49%;
} 
#login_wrap main form .login_container .qr_login p span {}    
#login_wrap main form .login_container .qr_login p span::after {  
    content:''; display:inline; width:15px; height:10px;  margin-left:5px;
    background-image:url(../images/m_sp_login.png); padding-right:15px; 
}
#login_wrap main form .login_container .qr_login p span:nth-child(1)::after {
    background-position:-250px -79.5px; position:relative; top:-2px;
}
#login_wrap main form .login_container .qr_login p span:nth-child(2)::after {
    background-position:-250px -98px; position:relative;  top:-1
}
#login_wrap main form .login_container .qr_login p em {
    background-color:#000; color:#fff; padding: 2px 8px 0 8px; border-radius:10px;
}
/* 공통 하단 탭 */
#login_wrap main .search_join {margin:0 auto;}
#login_wrap main .search_join a {display:inline-block;}
/* 광고 */
#login_wrap main .adver {}
#login_wrap main .adver a {}
#login_wrap main .adver a img {width:100%;}
#login_wrap footer {
    width:458px; margin:0 auto; background-color: lime;
}
#login_wrap footer .menu {}
#login_wrap footer .menu a {}
#login_wrap footer .copyright {}
#login_wrap footer .copyright .logo {}
#login_wrap footer .copyright > span {}