#wrap {}
#wrap header {}
#wrap main {}
#wrap main .path {
    background-color: #f9f9f9;
}
#wrap main .path a {
    font-size:0.88rem;
    letter-spacing: -0.02rem;
}
#wrap main .path img{}
#wrap main .path em{font-weight:600;}
#wrap main h1 {
    font-size:3.13rem;
    font-weight:700;
    letter-spacing: -0.02rem;
    text-align: center;
    margin-top:158px;
}
#wrap main > p {
    text-align: center;
    letter-spacing: -0.02rem;
    font-size:1.19rem;
    margin:25px 0 80px 0;
    font-weight:500;
}
#wrap main .bg {
    background-color: #f9f9f9;
}
#wrap main .bg .corporate {
    background-color: yellow;
    width:1140px; margin:0 auto;
}
#wrap main .bg .corporate li {
    background-color: aqua;
    width:250px; height:250px;
    border:1px solid #888;
    background-repeat:no-repeat;
    background-position:80% 85%;
    background-size:100px auto;
    background-image:url(../images/info/cr01.png); /* 공통 */
    padding:30px;
    display:inline-block;
    margin-right:42.5px;
}
#wrap main .bg .corporate li:nth-child(1) {}
#wrap main .bg .corporate li:nth-child(2) {background-image:url(../images/info/cr02.png)}
#wrap main .bg .corporate li:nth-child(3) {background-image:url(../images/info/cr03.png);}
#wrap main .bg .corporate li:nth-child(4) {margin:0;}
/* #wrap main .bg .corporate li:nth-child(1) {
    background-image:url(../images/info/cr01.png);
    background-repeat:no-repeat;
    background-position:80% 85%;
}
#wrap main .bg .corporate li:nth-child(2) {
    background-image:url(../images/info/cr02.png);
    background-repeat: no-repeat;
    background-size:100px auto;
    background-position:80% 85%;
}
#wrap main .bg .corporate li:nth-child(3) {
    background-image:url(../images/info/cr03.png);
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-position:80% 85%;
}
#wrap main .bg .corporate li:nth-child(4) {
    background:lime url(../images/info/cr01.png) no-repeat 80% 85%;
} */
#wrap main .bg .corporate li h2{
    font-size:1.38rem;
    font-weight:600;
    margin-bottom:20px;
    letter-spacing: -0.02rem;
}
#wrap main .bg .corporate li p {
    font-size:1.13rem;
    line-height:1.5;
}
#wrap footer {}