.plan {width:1110px; margin:0 auto; margin-top:170px;}
.plan thead {
    border:1px solid #000; border-left:0; border-right:0;
    background-color:#f2f2f2;
}
.plan thead tr {}
.plan thead tr th {padding:20px 0;}
.plan thead tr th img {}
.plan thead tr th {font-weight:600; line-height:1.0; text-align:center;}
.plan thead tr th:nth-child(2) {
    text-align:center; margin:30px 0; width:250px;
}
.plan thead tr th h1 {
    margin-bottom:12px; font-weight:700; font-size:1.25rem; line-height:1.5;
}
.plan thead tr h1+p {
    color:#777; line-height:1.5;
}
.plan thead tr:nth-child(2) {
    border-top:2px dotted #555; font-size:1.13rem; font-weight:600;
}
.plan thead tr th:first-child {line-height:1.5; text-align:center;  padding:20px 0;}
.plan thead tr th h2 {margin-bottom:8px; font-weight:700;}
.plan thead tr th h2+p {color:#777; font-size:0.88rem;}
.plan tbody {}
.plan tbody tr {border-bottom:1px solid #ddd;}
.plan tbody tr th {text-align:center; width:250px; font-weight:500; line-height:1.0; padding:20px 0;}
.plan tbody tr td {text-align:center; font-weight:500; line-height: 1.0; padding:20px 0; width:170px;}
.plan tbody tr td:nth-child(2) {width:150px;}
.plan tbody tr td:nth-child(3) {width:350px;}
.plan tbody tr td em {color:#EE239B; font-weight:700;}