.birth_flower_wrap {
    background-image:url(../images/wrtFileImageView.jpg);
    background-size:cover;
    background-position:0 20%; height:100vh;
    height:750px; display:flex; flex-flow:column nowrap; justify-content: center; align-items:center;
}
.birth_flower_wrap::after {
    content:''; clear:both; display:block; background-color:rgba(255,255,255,0.5); left:0; top:0;
}
.birth_flower_wrap .birth_flower_contents {background-color:#fff;  width:950px; margin:0 auto; padding: 30px 50px; }
.birth_flower_wrap .birth_flower_contents h1 {margin-bottom:40px; text-align:center;}
.birth_flower_wrap .birth_flower_contents .birth_question {}
.birth_flower_wrap .birth_flower_contents .birth_question h1 {}
.birth_flower_wrap .birth_flower_contents .birthflower_input {}
.birth_flower_wrap .birth_flower_contents .birthflower_input input {
    width:30%;
}
.birth_flower_wrap .birth_flower_contents .birthflower_input input::placeholder {}
.birth_flower_wrap .birth_flower_contents .birthflower_input #flowerBtn {
    background-color:#adf; color:#fff; padding:10px 15px; border:2px solid #abf; border-radius:10px;
}
.birth_flower_wrap .birth_flower_contents .birthflower_input #flowerBtn:hover {opacity:0.5;}
.birth_flower_wrap .birth_flower_contents .birth_flower_wrap .result_flower {}