#wrap {
    background-color: brown;
}
#wrap header {
    background-color: rgba(0,0,0,0.1);
    /* header는 모든 사이트에서 높이 고정되는 경우가 90% 이상이다. */
    height:80px;
    padding:21px 80px;
}
#wrap header h1 {
    background-color: aqua;
    float:left; padding:3px;
}
#wrap header h1 a {
}
#wrap header h1 a img {}
#wrap header nav {
    background-color: coral;
    float:right;
}
#wrap header nav {}
#wrap header nav ul {
    overflow:hidden;
}
#wrap header nav ul li {
    float:left; padding:10px 0;
    margin-right:80px;
}
#wrap header nav ul li a {
    font-size:1.13rem;
    font-weight:600;
    color:#fff
}
#wrap header nav ul li:nth-child(4) {margin:0; padding:0;}
#wrap header nav ul li:nth-child(4) a {
    border:1px solid #fff;
    border-radius:25px;
    padding:10px 20px;
    display:block;
}
#wrap main {background-color: lime;}
/* ========================== 메인1~4행 공통 선택자 */
#wrap main .container {background-color: beige;}
#wrap main .container .contents {
    background-color: hotpink;
}
#wrap main .container .contents .txt {
    background-color: aqua;
}
#wrap main .container .contents .txt h1 {}
#wrap main .container .contents .txt h1 span {}
#wrap main .container .contents .txt p {}
/* ========================== 메인 1행 결제편리함 */
#wrap main .pay {
    background-image:url(../images/row1.jpg);
}
#wrap main .pay .contents {}
#wrap main .pay .contents .txt {}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {background-color: purple;}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {}
#wrap main .pay .contents .scroll {
    background-color: brown;
}
#wrap main .pay .contents .scroll span:nth-child(1) {}
#wrap main .pay .contents .scroll .scroll_bg {}
#wrap main .pay .contents .scroll .scroll_bg .bar {}
#wrap main .service {}
#wrap main .different {}
#wrap main .question {}
#wrap footer {}