header {
    width:1152px; margin:0 auto;
}
/* ==============================================header top */
header .top {
    height:48px;
    /* lnb+my_lnb 자식을 정렬하기 위한 flex적용부모 */
    display:flex; 
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a 자식을 정렬하기 위한 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {
    margin:0 20px; letter-spacing:-0.02em; 
}
header .top .lnb > a:last-child {margin:0;}
header .top .my_lnb {}
header .top .my_lnb a {margin-right:20px;}
header .top .my_lnb a:last-child {margin:0;}
/* ==============================================header bottom */
header .bottom {
    height:119px;
    /* 로고 h1~언어div 자식을 묶는 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
    background-color:#fff;
    width:369px; height:46px;
    border:2px solid #1e6cb3; padding: 0 20px;
    /* input+button 정렬을 위한 flex부모 */
    display:flex;
    justify-content:space-between; align-items:center;
}
header .bottom #searchFrm input[name*=search] {
    letter-spacing:-0.02em; width:369px;
}
header .bottom #searchFrm input[name*=search]::placeholder {color:#1e6cb3;}
header .bottom #searchFrm .search_btn {}
header .bottom .lang {
    background-color: yellow;
    font-size:0.81rem; letter-spacing:-0.02em;
    display:flex; align-items:center;
}
header .bottom .lang select[name*=lang] {
    background-color:#fff; border:1px solid #1e6cb3;
    width:93px; height:29px;
    padding: 5px 10px; margin-right:2px;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color:#1e6cb3; color:#fff;
    width:30px; height:29px; font-size:0.81rem;
}
/* ==============================================main */
main {background-color:hotpink;}
/* ==============================================main 1.상단 이벤트+공지사항 배너 */
main .visual_container {
    width:1152px; margin:0 auto;
    /* 좌(거리두기) 우(현황, 교통) 자식정렬 부모 flex 대상 */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
main .visual_container .corona_notice {position:relative;}
main .visual_container .corona_notice img {}
main .visual_container .corona_notice .close {
    background-color:#1e6cb3; color:#fff;
    position:absolute; right:10px; bottom:10px;
    padding:10px; border-radius:5px; display:block;
}
main .visual_container .right_container {
    width:360px;
}
main .visual_container .right_container .corona {position:relative; margin-bottom:10px;}
main .visual_container .right_container .corona img {}
main .visual_container .right_container .corona span {
    letter-spacing: -0.02em; width:100px; position:absolute;
}
main .visual_container .right_container .corona .date {
    letter-spacing: -0.02em; display:block; width:130px;
    position:absolute; right:30px; top:15px;
}
main .visual_container .right_container .corona .data {
    color:#fff; text-align:center;
}
main .visual_container .right_container .corona .data1 {left:50px; top: 83px;px;}
main .visual_container .right_container .corona .data2 {right:50px; top:83px;}
main .visual_container .right_container .corona .data3 {left:28px; bottom: 55px;}
main .visual_container .right_container .corona .data4 {left:143px; bottom:55px;}
main .visual_container .right_container .corona .data5 { width:60px; right:32px; bottom:57px;}
main .visual_container .traffic {}
main .visual_container .traffic a {}
main .visual_container .traffic a img {}
/* ==============================================main 2 ~ 5 **공통제목디자인** */
main > * .title {}
main > * .title h1 {
    font-size:1.44rem; letter-spacing: -0.02em; font-weight:500;
}
main > * .title .more_view {
    padding:10px; border:1px solid #aaa; background-color:#fff;
}
/* ==============================================main 2. 주요 서비스 */ 
main .service_container {
    width:1152px; margin:0 auto;
}
main .service_container .title {
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
}
main .service_container .title h1 {}
main .service_container .title .more_view {}
main .service_container .contents {
    display:flex;
    flex-flow:row nowrap; justify-content: space-between;
    width:1152px;
}
main .service_container .contents a {
    display:flex;
    flex-flow:column nowrap;
    padding:20px; width:calc(100% / 11);

}
main .service_container .contents a span {
    width:60px; height:60px;
    background-image:url(../images/service.png);
}
main .service_container .contents a em {
    margin-top:15px; font-size:0.81rem; letter-spacing: -0.02em;
}
main .service_container .contents a:nth-child(1) span {}
main .service_container .contents a:nth-child(2) span {background-position-x:-60px;}
main .service_container .contents a:nth-child(3) span {background-position-x:-120px;}
main .service_container .contents a:nth-child(4) span {background-position-x:-180px;}
main .service_container .contents a:nth-child(5) span {background-position-x:-240px;}
main .service_container .contents a:nth-child(6) span {background-position-x:-300px;}
main .service_container .contents a:nth-child(7) span {background-position-x:-360px;}
main .service_container .contents a:nth-child(8) span {background-position-x:-420px;}
main .service_container .contents a:nth-child(9) span {background-position-x:-480px;}
main .service_container .contents a:nth-child(10) span {background-position-x:-540px;}
main .service_container .contents a:nth-child(11) span {background-position-x:-600px;}
/* ==============================================main 3. 신청,행사,서비스 */ 
/* ==============================================main 3-1. 이벤트신청 */ 
/* ==============================================main 3-2. 이달행사축제 */ 
/* ==============================================main 3-3. 지주찾은서비스 */ 
/* ==============================================main 4. 분야정보 */ 
/* ==============================================main 5. 새소식 */ 
/* ==============================================footer */
footer {}