#wrap header {
    background-color:#fff; height:80px;
    overflow:hidden; padding:0 80px;
}
#wrap header h1 {
    float:left; padding-top:24px;
}
#wrap header h1 a {}
#wrap header h1 a img {width:183px;}
#wrap header nav {
    float:right; padding-top:21px;
}
#wrap header nav ul {overflow:hidden;}
#wrap header nav ul li {
    float:left; margin:10px 0 0 60px;
}
#wrap header nav ul li:fitst-child {margin:0;}
#wrap header nav ul li a {
    font-size:1.13rem; letter-spacing: -0.01em; font-weight:600;

}
#wrap header nav ul .developer_center {
    border: 1px solid #0046ff; border-radius:20px; padding:10px 20px;
    position:relative; top:-10px;
}
/* =================================header */
#wrap main {padding-bottom:80px;}
#wrap main .title_bnr {
    background-color:brown;
    background-image:url(../images/customer/title.jpg);
    background-size:cover;
    height:300px; text-align:center; padding:98.5px 0 0;
    position:relative;
}
/* 원본 사진과 다르게 배경이 어둡거나 밝게 설정된 경우는 적용된 부모 요소 기준 마지막 자식 위치에 가상자식을 생성하여 반투명한 배경색을 적용한 경우이다. */
#wrap main .title_bnr::after {
    content:''; background-color:rgba(0,0,0,0.6); 
    width:100%; height:300px; display:block; position:absolute; left:0; top:0; z-index:80;
}
#wrap main .title_bnr h1, #wrap main .title_bnr > p {position:relative; z-index:90;}
#wrap main .title_bnr h1 {
    color:#fff; 
    margin-bottom:30px;
    font-size:3.0rem; font-weight:700; letter-spacing: -0.02em;
}
#wrap main .title_bnr > p {
    font-size:1.56rem; font-weight:600; letter-spacing: -0.02em;
    color:#fff;
}
#wrap main .tab_menu {margin-top:100px; text-align:center;}
#wrap main .tab_menu .active {
    background-color:#0046FF; border:0;
    color:#fff;
}
#wrap main .tab_menu a {
    border:1px solid #aaa; border-radius:20px; padding:12px 32px;
    margin-right:12px; background-color:#fff; display:inline-block;
}
#wrap main .tab_menu a:last-child {margin:0;}
#wrap main .tab_container {width:720px; margin:0 auto;}
/* ===================================신용, 가상, 계좌 내용그룹 */
/* 서브페이지 기준 로그인, 회원가입, 설문조사, 게시판 등으로 form위주로 구성된 페이지일 경우 form은 너비가 넓을수록 시각적으로 보기 좋지 않아 실제 사이트 너비보다 작게 사용하는 경우가 많다. */
#wrap main .tab_container #creditCardFrm,
#wrap main .tab_container #accountFrm,
#wrap main .tab_container #transferFrm {}
/* ==================================신용카드 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #creditCardFrm {}
#wrap main .tab_container #creditCardFrm dl {margin-top:}
#wrap main .tab_container #creditCardFrm dl dt {
    margin:12px; font-size:1.13rem; letter-spacing: -0.02em; font-weight:600;
}
#wrap main .tab_container #creditCardFrm dl dd {margin:0 0 35px; position:relative;}
#wrap main .tab_container #creditCardFrm dl dd input {
    width:100%;
    background-color:#fff; border:1px solid #ccc; border-radius:5px;
    padding:15px 20px;
}
#wrap main .tab_container #creditCardFrm dl dd input::placeholder {color:#aaa;}
#wrap main .tab_container #creditCardFrm dl dd .approval_num {}
#wrap main .tab_container #creditCardFrm dl dd .pay_num {}
#wrap main .tab_container #creditCardFrm dl dd .pay_date {
    letter-spacing: -0.02em;
    background-image:url(../images/customer/calendar_month.png);
    background-repeat:no-repeat;
    background-position:20px; center; left:0;
    /* background:url(../images/customer/calendar_month.png) no-repeat 20px center; */
    padding-left:55px;
}
#wrap main .tab_container #creditCardFrm dl dd .pay_date.pay_date::-webkit-calendar-picker-indicator {
    background:none; position:absolute; width:100%;
}
#wrap main .tab_container #creditCardFrm ul {margin-bottom:25px;}
#wrap main .tab_container #creditCardFrm ul li {
    background-image:url(../images/customer/kid_star.png);
    background-repeat:no-repeat;
    background-position:0 center;
    padding-left: 18px;
    font-size:0.81rem; letter-spacing: -0.05em; color:#888;
    margin-bottom:16px;
}
#wrap main .tab_container #creditCardFrm ul li:nth-child(3) {
    margin:0;
}
/* ===================================================개인정보 동의박스 시작 */
#wrap main .tab_container #creditCardFrm h2 {
    font-size:1.13rem; letter-spacing: -0.02em; font-weight:600;
    margin:0 0 16px;
}
#wrap main .tab_container #creditCardFrm .consent_box {
    border:1px solid #ccc; padding:20px; border-radius:10px;
    margin:0 0 16px; height:238px; overflow:auto;
}
#wrap main .tab_container #creditCardFrm .consent_box h3 {
    font-size:0.88rem; letter-spacing: -0.02em; font-weight:600;
}
#wrap main .tab_container #creditCardFrm .consent_box > p {
    font-size:0.88rem; line-height:1.4; letter-spacing:-0.02em;
    margin:20px 0;
}
#wrap main .tab_container #creditCardFrm .consent_box h4 {
    font-size:0.88rem; line-height:1.4; letter-spacing:-0.02em; font-weight:600;
    margin-bottom:20px;
}
#wrap main .tab_container #creditCardFrm .consent_box .info {}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody {}
#wrap main .tab_container #creditCardFrm .consent_box .infi tbody tr {}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr > * {
    font-size:0.81rem; letter-spacing:-0.07em;
    border:1px solid #aaa; border-left:0; border-right:0; padding:15px 0 15px 15px;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr th {
    font-weight:500; 10px; width:150px; border-right:1px solid #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr td {
    width:520px;
}
#wrap main .tab_container #creditCardFrm .all_agree_box {}
#wrap main .tab_container #creditCardFrm .all_agree.box #agree_box {}
/* input radio, checkbox는 css개별디자인이 불가능하기 때문에 항상 input의 형제가 되는 또다른 요소를 생성해서(label, span 등) 배경이미지로 연결해야 한다. */
/* input형제요소를 생성했다면 그 형제요소선택자는 input 비활성화 배경이미지를 가지고 input:checked 상태선택자를 활용하여 선택됐을 시 활성화 배경이미지로 변경해준다. */
#wrap main .tab_container #creditCardFrm .all_agree_box #agree_box:checked+label {
    background-image: url(../images/customer/check_box.png);
}
#wrap main .tab_container #creditCardFrm .all_agree_box label {
    letter-spacing: -0.02em; padding-left:20px; margin:23px 0 100px;
    background-image:url(../images/customer/check_box_n.png);
    background-repeat:no-repeat; 
    background-position:left center;
    padding-left: 24px;
}
#wrap main .tab_container #creditCardFrm .btn {
    text-align:center; margin-top:100px;
}
#wrap main .tab_container #creditCardFrm .btn .about_btn {
    color:#fff; background-color:#0046FF; border-radius:8px;
    padding:16px 47px;
}
/* ==================================가상계좌 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #accountFrm {}
/* ==================================계좌이체 탭 클릭 시 활성화 내용 */
#wrap main .tab_container #transferFrm {}